[submodule "src/main/scala/Plugins/CommonUtils"]
	path = src/main/scala/Plugins/CommonUtils
	url = https://github.com/AntonioTan/CommonUtils.git
[submodule "src/main/scala/Plugins/MSUtils"]
	path = src/main/scala/Plugins/MSUtils
	url = https://github.com/AntonioTan/MSUtils.git 
[submodule "src/main/scala/Plugins/Encryption"]
	path = src/main/scala/Plugins/Encryption
	url = https://github.com/AntonioTan/Encryption.git  
[submodule "src/main/scala/Plugins/UserAccountAPI"]
	path = src/main/scala/Plugins/UserAccountAPI
	url = https://github.com/AntonioTan/UserAccountAPI.git
